[Unit]
Description=Screen locker for X11 before suspend
Before=sleep.target suspend.target hibernate.target hybrid-sleep.target
Conflicts=sleep.target suspend.target hibernate.target hybrid-sleep.target

[Service]
ExecStart=/usr/bin/xss-lock --transfer-sleep-lock -- i3lock -c 000000
Restart=always

[Install]
WantedBy=default.target sleep.target suspend.target hibernate.target hybrid-sleep.target
