[Unit]
Description=Rclone Dropbox Bisync

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync dropbox: /home/bennet/Dropbox --resilient --recover --verbose
