/* Rose Pine Color Palette */
@define-color background #191724;
@define-color background-alt #26233a;
@define-color foreground #e0def4;
@define-color foreground-alt #908caa;
@define-color border #56526e;

@define-color accent-primary #c4a7e7;
@define-color accent-secondary #9ccfd8;
@define-color accent-tertiary #eb6f92;

@define-color color-red #eb6f92;
@define-color color-orange #f6c177;
@define-color color-yellow #f6c177;
@define-color color-green #9ccfd8;
@define-color color-cyan #31748f;
@define-color color-blue #31748f;
@define-color color-purple #c4a7e7;
@define-color color-pink #eb6f92;

@define-color urgent #eb6f92;
